@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
  color: #ff0000;
}

h2 {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  background-color: rgb(82, 116, 225);
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;
}

/* Constrain the page to the viewport */
body {
  height: 100vh;
  font-family: 'Georgia', serif;
  background-color: #0a0a0a;
}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

article ul {
  list-style-type: disc;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */
@media (min-width: 768px) {
  body {
    display: grid;

    grid-template-columns: 220px 1fr;
    /* nav = fix (ca. 192–256px), main = rest */

    grid-template-rows: 80px 1fr 80px;
    /* header + footer fix, main flexibel */

    grid-template-areas:
      "h h"
      "n m"
      "f f";

    height: 100vh;
  }
}

nav {
  grid-area: n;
}

footer {
  grid-area: f;
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */
header {
  grid-area: h;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */
 nav ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

/* Task 3.3. Make the main element a Flexbox container */
main {
  grid-area: m;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* Task 3.4. Make the footer's ul a Flexbox container */
footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* From here on styling from exercise 1 */

img {
  max-width: 180px;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
}

article {
  width: 500px;
  font-weight: bold;
  background-color: white;
  border-radius: 12px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-left: 5px solid #ff0000;
}

article:hover {
  transform: scale(1.02);
  transition: 0.2s;
  background-color: #fff3cd;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 4px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: rgb(65, 137, 48);
  color: black;
  font-weight: bold;
}

/* index.css */
article button:hover {
  background-color: black;
  color: white;
}

/* index.css */
nav button:hover {
  background-color: rgb(65, 137, 48);
}
